@import "tailwindcss";
@plugin "daisyui";

/* Light Theme - Professional & Modern */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #1F2937;
  --color-secondary: #0D9488;
  --color-Accent: #F59E0B;
}

/* Dark Theme - Elegant & Sophisticated */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #E0F2FE;
  --color-secondary: #164E63;
  --color-accent: #FBBF24;
}



/* @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
 */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));