@import "tailwindcss";
@plugin "daisyui";

/* Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #0a3d62;
  --color-secondary: #3EBFBB;
  --color-accent: #3EBFBB;
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #145C8C;
  --color-secondary: #0FB2B5;
  --color-accent: #0FB2B5;
}

.active{
  border-bottom: 2px solid #0a3d62;
};


/* @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
 */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));